/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
    background: #ffffff;
}

.fff-color {
    background: #fff;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color:  #fff;
}

p {
    margin-bottom: 20px;
    color: #fff;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

/* Utilities */
.box {
    background: lightblue;
    height: 100px;
    margin-bottom: 20px;
}

/* HEADER */
/* Nav-bar */
.nav-bar {
    background-image: url('../img/hero-bg.jpg');
    height: 549px;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}


/* MAIN */



/* Uomo anziano scooter iphone */
.iphone-scooter {
    background-image: url('../img/helbiz-banner.jpg');
    height: 400px;
    background-size: cover;
    background-position: left center;
    margin-bottom: 30px;
}

/* Immagine scooter prato */
.scooter-bg {
    background-image: url('../img/scooter-bg.jpg');
    height: 400px;
    background-size: cover;
    background-position: left center;
    margin-bottom: 30px;
}

/* Social Banner */
.social-img {
    background-image: url('../img/social-banner.jpg');
width: 50%;
height: 400px;
background-size: cover;
background-color: #2e3c4a;
background-position: center;
margin-bottom: 30px;
}


/* FOOTER */
/*  */


/* MEDIA QUERY */

/* MEDIA QUERY 0 --> 767 PX */
@media screen and (max-width: 767px) {
    /* HEADER */
    /* Nav-bar */
    .ul-nav-bar, 
    .ul-nav-languages {
        display: none;
    }

    .nav-bar {
        text-align: center;
        vertical-align: middle;
    }

    .nav-bar img {
        margin-top: 20px;
        margin-bottom: 10px;
     
    }

    .nav-bar h1 {
        padding-top: 20px;
    }

    /* MAIN */
    .top-scooter {
        text-align: center;
        margin-bottom: 30px;
        background: #fafafa;
    }

    .top-scooter h2 {
        margin-bottom: 20px;
    }

    .top-scooter h3 {
        margin-bottom: 20px;
    }

    .top-scooter a {
        color: #0007ff;
        display: block;
    }

    .top-scooter img {
        width: 350;
        height: 550px;
        margin-bottom: 20px;
    }

    /* Top-bike */
    .top-bike {
        text-align: center;
        margin-bottom: 30px;
        background: #fafafa;
    }

    .top-bike h2 {
        margin-bottom: 20px;
    }

    .top-bike h3 {
        margin-bottom: 20px;
    }

    .top-bike a {
        color: #0007ff;
        display: block;
    }

    .top-bike img {
        width: 350px;
        height: 550px;
    }

    /* Uomo anziano scooter iphone */
    .iphone-scooter {
    background-image: url('../img/helbiz-banner.jpg');
    height: 400px;
    background-size: cover;
    background-position: left center;
    margin-bottom: 30px;
    }

    /* Iphone e scooter */
    .iphone-none {
        display: none;
    }

    .iphone-scooter {
        text-align: center;
        margin-top: -200px;
        margin-bottom: 120px;
    }
    
    .iphone-scooter div {
        margin-top: 200px;
    }

    /* Immagine scooter prato */
    .scooter-bg {
        text-align: center;
    }

    .scooter-bg h2 {
        font-size: 28px;
        font-weight: 400;
        color: #fff;
    }

    .scooter-bg a {
        color: #fff;
    }

    /* Get app */
    .get-app {
        text-align: center;
        background: #354756
    }

    .get-app h2 {
        font-weight: 400;
        margin-bottom: 20px;
        color: #fff;
    }

    .get-app h3 {
        font-weight: 400;
        margin-bottom: 20px;
        color: #fff;
    }

    .get-app a {
        color: #fff;
        padding: 10px;
        display: inline-block;
    }

    .get-app img {
        width: 370px;
        height: 250px;
        margin-bottom: -10px;
    }

    /* Find Us around */
    .find-us {
        text-align: center;
        margin-bottom: 30px;
        background: #fafafa;
    }

    .find-us h2 {
        margin-bottom: 20px;
    }

    .find-us h3 {
        margin-bottom: 20px;
    }

    .find-us a {
        color: #0007ff;
        display: block;
    }

    .find-us img {
        width: 360px;
        height: 550px;
    }



    /* Social banner */
    .social-img {
    background-image: url('../img/social-banner.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    background-color: #2e3c4a;
    background-position: center;
    margin-bottom: 30px;
}

}